:root {
  --darkbrown: #2e2a2b;
  --darkgrey: #545454;
  --lightgrey: #6b6b6b;
  --darkblue: #110542;
  --lightblue: #406999;
  --mustard: #cb9a28;
}

/* ::selection {
  } */

/* ----------------------NAVBAR---------------------- */
.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.custom-navbar {
  background-color: var(--lightgrey);
}

.custom-navbar .navbar-nav .custom-nav-link {
  color: white;
}

.custom-navbar .navbar-nav .custom-nav-link:hover {
  color: var(--mustard);
}

.caret {
  margin-left: 0.3rem !important;
}

/* ----------------------CAROUSEL---------------------- */
.carousel {
  max-height: 650px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
/* ----------------------BUTTONS---------------------- */

.btn-warning,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: var(--mustard) !important;
  border-color: var(--mustard) !important;
  color: var(--darkbrown);
}

.btn-primary:hover {
  background-color: var(--mustard) !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

/* ----------------------HEADER---------------------- */

.landingName {
  width: 100%;
  height: auto;
}
/* SERVICES */

.services {
  background-color: var(--lightblue);
}
